{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row justify-content-center"> <!-- Utilisation de justify-content-center pour centrer les colonnes -->
        <div class="col-md-6">
            <div class="inscription text-center">
                <h4>Inscrivez-vous maintenant</h4>
                <a class="btn btn-primary" href="{% url 'signup' %}">S'inscrire</a>
            </div>
        </div>
        <div class="col-md-6">
            <div class="connexion text-center">
                <h4>Connectez-vous</h4>
                <form  method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="btn btn-primary float-right" type="submit">Se connecter</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
