{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}
{% load review_extras %}
  <div class="px-5 py-2 container">
    <div class="white-background">
      <div class="px-5 py-2 container border border-2 border-dark rounded-4">
        <div class="row pt-1 pb-3">
          <h1 class="col text-center">Créer une critique</h1>
        </div>

        <div class="row pt-1 pb-3">
          <div class="px-5 py-2 container border border-2 border-dark rounded-4">
            <div class="row py-2">
              <h2 class="col text-start">
                Vous êtes en train de poster une réponse à {{ticket.user.username}}
              </h2>
            </div>
            <div class="px-5 py-2 container border border-2 border-dark rounded-4">
              <div class="row py-1">
                <div class="col text-start">
                  <h3>{% get_poster_display ticket.user %} demande une critque</h3>
                </div>
                <div class="col text-end">
                  <h4 class="fw-light fst-italic"  >postée le {{ ticket.time_created }}</h4>
                </div>
              </div>
              <div class="row py-1">
                <p class="col text-start">{{ ticket.title }}</p>
              </div>
              <div class="row py-1">
                <p class="col text-start">Description : {{ ticket.description }}</p>
              </div>
              <div class="row py-1">
                {% if ticket.image %}
                  <img
                    class="col-2 text-start border border-secondary"
                    src="{{ ticket.image.url }}"
                    alt="Image du ticket"
                    title="Image descriptive du ticket"
                    aria-label="IMAGE DU TICKET">
                {% endif %}
              </div>
            </div>
          </div>
        </div>

        <div class="row pt-1 pb-3">
          <div class="px-5 py-2 container border border-2 border-secondary">
            <div class="row py-2">
              <h3 class="col text-center">Critique</h3>
            </div>
            <form
              class="row pt-1 pb-3 justify-content-end"
              method="post"
              enctype="multipart/form-data"
            >
              {% csrf_token %}
              {{ form.non_field_errors }}
        <!-- Afficher les erreurs non liées à un champ -->
              <div class="form-group row">
                <label for="id_headline" class="col-form-label col-auto">Titre:</label>
                <div class="col-auto">{{ form.headline }}</div>
              </div>
              <div class="form-group row">
                <label  for="id_body" class="col-form-label col-auto">Description:</label>
                <div class="col-auto">{{ form.body }}</div>
              </div>

              <div class="form-group row">
                <label for="ratingInput" class="col-form-label col-auto">Notation:</label>
                <div class="col-auto" id="rating-options">
            <!-- Affichage des étoiles -->
                  <div class="rating-stars" id="ratingStars">
                    {% for i in "*****" %}
                      <span class="star"  data-rating="{{ forloop.counter }}"
                      >{{ '&#9733;' }}</span
                        >
                    {% endfor %}
                  </div>

                  <input
                    type="hidden"
                    name="rating"
                    id="ratingInput"
                    value="{{ review.rating }}"
                  />
                </div>
              </div>

              <button class="col-2 btn btn-outline-secondary" type="submit">
                Publier
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
