{% extends 'base.html' %}
{% block content %}
    <h2>Page acceuil</h2>
    {% load static %}
    <div class="container text-center px-5">
        <div class="row py-4">
            <h2>Mon flux</h2>
        </div>
        <div class="row justify-content-center py-4">
            <a class="col-2 btn btn-outline-secondary me-3" href="{% url 'create_ticket' %}">Demander une critique</a>
            <a class="col-2 btn btn-outline-secondary ms-3" href="">Créer une critique</a>
        </div>

    
    
        {% for ticket in tickets %}
            <div class="container text-center px-5">
                <div class="row  px-5 py-4">
                    <h3>Demande de critque par {{ticket.user.username}}</h3>
                </div>
                    <h5>titre: {{ ticket.title }}</h5>
                    <p>Description : {{ ticket.description }}</p>
                    {% if ticket.image %}
                    <img class="col-2 text-start border border-secondary" src="{{ ticket.image.url }}">
                    <a class="col-2 btn btn-outline-secondary" href="{% url 'create_review' ticket.id %}">Creer une critique</a>
                    {% endif %}
            </div>
                {% if ticket.user_id == user.id %}
                    {% for review in reviews %}
                    <p>Rating : {{ review.rating }}</p>
                    <p>titre: {{ review.headline }}</p>
                    <p>Description : {{ review.body }}</p>
                    <p>critque par :  {{ review.user.username }}</p>
                    {% endfor %}
                {% endif %}

               
               
            
        {% endfor %}
    </div>
{% endblock content %}