{% load ticket_extras %}
{% load ratings %}
{% load static %}
<div class="px-5 py-2 container border border-2 border-secondary">
  <div class="row py-1">
    <div class="col text-start">
        <p>critique par {% get_poster_display review.user%}</p>
    </div>
    <div class="col text-end">
        <p class="fw-light fst-italic">posté le {{ review.time_created }}</p>
    </div>
</div>

<div class="row py-1">
    <p class="text-start">Titre: {{ review.headline }} 
        {% for i in review.rating|get_range %}
            <span class="star-filled">&#9733;</span>
        {% endfor %}
        {% for i in review.rating|get_complement %}
            <span class="star-empty">&#9734;</span>
        {% endfor %}
    </p>
</div>
   
    <div class="row py-1">
        <p class="text-start"> {{ review.body }}</p>
    </div>
    
    <div class="row py-1">
        <div class="px-5 py-2 container border border-2 border-secondary"> 
            
            <div class="row py-1">
              <div class="col text-start">
                  <p>Demande de critique par {{ review.ticket.user.username}}</p>
              </div>
              <div class="col text-end">
                  <p class="fw-light fst-italic">posté le {{ review.ticket.time_created}}</p>
              </div>
          </div>


            <div class="row py-1">
                <p class="text-start">Titre: {{ review.ticket.title }} Description : {{ review.ticket.description }}</p>
           
                
            </div>  
            <div class="row py-1">
                {% if review.ticket.image %}
                    <img class="col-2 text-start border border-secondary" src="{{ review.ticket.image.url }}">
                {% endif %}
            </div>
        </div>
    </div>
    <div class="row justify-content-end py-1">
        <a class="col-2 btn btn-outline-secondary me-3" href="{% url 'edit_review' review.ticket.id review.id %}">Modifier</a>
        <a class="col-2 btn btn-outline-secondary ms-3" href="{% url 'delete_review' review.ticket.id review.id %}">Supprimer</a>
    </div>
</div>
