{% load ticket_extras %}
{% load static %}
<div class="px-5 py-2 container border border-2 border-secondary">
    <div class="row py-1">
        <h3>Demande de critique par {{ ticket.user.username }}</h3>
        <p class="col text-end fw-light fst-italic">posté le {{ ticket.time_created }}</p>
    </div>
    <div class="row py-1">
        <h5>Titre: {{ ticket.title }}</h5>
    </div>
    <div class="row py-1">
        <p>Description : {{ ticket.description }}</p>
    </div>  
    <div class="row py-1">
    {% if ticket.image %}
        <img class="col-2 text-start border border-secondary" src="{{ ticket.image.url }}">
        
    {% endif %}
    </div>
    <div class="row justify-content-end py-1">
    <a class="col-2 btn btn-outline-secondary" href="{% url 'create_review' ticket.id %}">Créer une critique</a>
    </div>
</div>
