{% load review_extras %}
{% load static %}
<div class="px-5 py-2 container border border-2 border-dark rounded-4">
    <div class="row py-1 text-center">
        <h2>Demande de critique</h2>
    </div>
     <div class="row py-1">
        <div class="col text-start">
        <h3>Publiée par {% get_poster_display ticket.user %}</h3>
        </div>
        <div class="col text-end">
        <h4 class="fw-light fst-italic">postée le {{ ticket.time_created }}</h4>
        </div>
    </div>
    <div class="row py-1">
        <p class="text-start">{{ ticket.title }}</p>
    </div>
    <div class="row py-1">
        <p class="text-start">{{ ticket.description }}</p>
    </div>  
    <div class="row py-1">
    {% if ticket.image %}
        <img
         class="col-2 text-start border border-dark rounded-4"
         src="{{ ticket.image.url }}"
         alt="Image du ticket"
         title="Image descriptive du ticket"
         aria-label="IMAGE DU TICKET">
         >
        
    {% endif %}
    </div>
    <div class="row justify-content-end py-1">
        <a class="col-2 btn btn-outline-secondary me-3" href="{% url 'edit_ticket' ticket.id %}">Modifier</a>
        <a class="col-2 btn btn-outline-secondary ms-3" href="{% url 'delete_ticket' ticket.id %}">Supprimer</a>
    </div>
</div>
